table{
    border-collapse: collapse;

}

table,td,th{
    border: 0.0625em solid;
    border-color:rgb(203,203,203);
    padding:0.5em;

}

#sortedCol{
    background-color: rgba(153,204,255,0.1);

}
button{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}


table th:hover{
    color:blue;
    cursor: pointer;
}
table thead{
    background: linear-gradient(180deg,white,lightgray);;
}
table tbody tr:nth-child(odd){
    background-color: rgb(245,245,245);
}
table tbody tr:nth-child(even){
    background-color: white;
}
table tr{
    transition-property: background-color;
    transition-duration: 0.01s;
    transition-timing-function: ease;
}