body{
    display: flex;
}
@media screen and (min-width: 601px) {

    nav{
        width:25%;
        flex:1;
        order:2;
    }
    main{
        width:75%;
        flex:2;
        order:3;
    }
    footer{
        width: 100%;
        order: 4;
    }
    body {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    main {
        width: 100%;
    }
    body {
        flex-direction: column;
        flex-wrap: wrap;
    }
    nav{
        width:100%;
    }
}
h2{
    font-size: 1.5em;
    color:rgb(185,85,25);


}

h1{
    font-size: 2em;
    color:rgb(255,255,255) !important;


}
nav{
    background-color: rgb(180,180,180);
    padding:0.5em;

}
nav ul{
    list-style-type: none;
    padding:0.5em;
}
nav li{
    padding: 0.5em;
}
nav li a{
    color:black;
    text-decoration: none;
    padding:0.5em;

}
nav li a:hover{
    color:white;

}
table{
    border-collapse: collapse;

}
th{
    background:linear-gradient(180deg,rgb(100,100,100),black);
    color:white;
    text-align: left;
}
table,td,th{
    border: 0.0625em solid black;
    border-color: rgb(184,204,228);
    padding:0.5em;

}

table td:nth-child(3)
{
    text-align: right;
}
table td:nth-child(4)
{
    text-align: right;
}

table tr:nth-child(odd){
    background-color: rgb(197,217,241);
}
table tr:nth-child(even){
    background-color: white;
}
table tr{
    transition-property: background-color;
    transition-duration: 0.01s;
    transition-timing-function: ease;
}
table tr:hover{
    background-color: yellow;
}
a:not(nav){
    color:rgb(0,0,255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


header, footer{
    padding:0.5em;
    width: 100%;
    color:white;
    text-align: center;
    background-color: rgb(100,100,100);
}
main{
    background-color: rgb(220,220,220);
    padding:0.5em;

}

blockquote{
    font-style: italic;
}
input[type="submit"]{
    background-color: rgb(100,100,100);
    color: white;
    padding:0.5em;
    font-size:0.8em;
}
input[type="reset"]{
    background-color: rgb(100,100,100);
    color:white;
    padding:0.5em;
    font-size:0.8em;
}
.reading-dog{
    background: url('./reading_dog(1).jpg');
    padding:0rem;

}
.required{
    color:red;
}
div{
    padding:0.5em;
}
* {
    /* This prioritizes the fonts in order. It is a good idea to specify a
       generic font at the end for the user agent to fallback to if it cant
       handle the specific font families you provide.
    */
    font-family: Helvetica, Arial, sans-serif;
    color: black;

}